@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

   


@media (min-width: 640px) {
  h2{

    color: #111827;
  }
  div {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
  }
  #Image {
    box-shadow: -35px 35px 0px -2px #e5e7eb;
  }
}

div{
    color: #4B5563;font-size: 16px;line-height:24px ;
}
#Image{
    box-shadow: -35px 35px 0px -2px #E5E7EB
    
}
svg:hover{
cursor: pointer;
}

@media (prefers-color-scheme:dark) {
    h2{
        color: #F9FAFB;
    }
    div{
        color: #D1D5DB;
    }
    li{
        color: #D1D5DB;
    }
    h3{
        color: #D1D5DB;
    }
    
}
*{
    font-family: "Inter";
}

@media (prefers-color-scheme: dark) {
  h2 {
    color: #f9fafb;
  }
  div {
    color: #d1d5db;
  }
  li {
    color: #d1d5db;
  }
  h3 {
    color: #d1d5db;
  }
  svg {
    fill: white;
  }
  #list li {
    color: #4b5563;
  }
}

